<% if post.liked_by?(current_end_user) %>
  <p>
    <%= link_to post_like_path(post, post.likes), remote: true, method: :delete do %>
      <i class="bi bi-heart-fill"></i> <%= post.likes.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_likes_path(post), remote: true, method: :post do %>
      <i class="bi bi-heart"></i> <%= post.likes.count %>
    <% end %>
  </p>
<% end %>
