<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex mx-auto">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">
        <i class="bi bi-search" style="font-size: 20px;"></i>
      </button>
    </form>
  </div>
</nav>